/* Стили идут по DOM-элементам странички, сверху вниз, по мере их появления */

/* Детектор отключённого ЦСС. Для ценителей */
#noCssPlaceholder {
    display: none;
}

#topNavigation {
    background-color: #333;
    margin-top: -10px;
    overflow: hidden;
}

/* Все элементы верхнего уровня в #topNavigation */
#topNavigation > * {
    color: #eee;
    float: left;
    font-size: 17px;
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
}

#topNavigation a:hover {
    background-color: #ddd;
    color: #000;
}

#topNavigation a.current {
    background-color: #4caf50;
    color: #fff;
}

#ageAlert {
    color: #fff;
    display: block;
    font-size: 15px;
    float: right;
    background: #c00;
    border-radius: 5px;
    margin-top: -42px;
    margin-right: 10px;
    padding: 2px 4px;
}

#clock {
    background: #1f1;
}

#loremIpsum {
    border: 5px ridge #f00;
    border-radius: 25px;
    background-color: #ecedeb;
    display: flex;
    flex-direction: column;
    font: small-caps bold 1.2rem sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    text-align: center;
    width: 90%;
}

/* #nowPlaying {
} */

#nowPlaying .nowPlayingImg {
    height: 38px;
    margin: 20px auto;
    width: 350px;
}

/* #feed {
} */

#feed .post {
    border: 1px solid #add8e6;
}

#feed .post .time {
    font-family: monospace;
}

#feed .post .userId,
#feed .post .djId {
    color: #4caf50;
}

#feed .post .userText,
#feed .post .djText {
    color: #800;
}

#schedule {
    border: 5px solid #dc143c;
}

/* #schedule thead {
}

#schedule .notStarted {
}

#schedule .onAir {
}

#schedule .ended {
} */

#podcasts {
    border: 5px solid #ffd700;
}

/* Выравниваем размер по правому */
#podcasts td:nth-child(3) {
    text-align: right;
}

#newsBlock {
    border: 5px solid #006400;
}

#newsBlock .newsContainer {
    display: flex;
    flex-flow: row wrap;
}

#newsBlock .newsItem {
    flex: 1 1 300px;
    display: block;
    margin: 3px;
    padding: 3px;
    border: 1px solid;
    color: inherit;
    text-decoration: none;
}

#newsBlock .newsItemDate {
    margin-right: 10px;
    display: inline;
}

#newsBlock .newsItemSource {
    display: inline;
}

.closeIcon {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #f00;
    border-radius: 100%;
    background: linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%), #f00;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

#announcementContainer {
    border: 5px solid #adff2f;
}

img#splashImage {
    cursor: pointer;
}

.hidden {
    display: none !important;
}
